[MASTER]
extension-pkg-whitelist=pydantic

[MESSAGES CONTROL]
disable=C0111,C0103,R0903,E0401,W0603,R0914,R1702,R0912,R0915,W0718,W0212

[FORMAT]
max-line-length=150
indent-string='    '

[BASIC]
good-names=i,j,k,ex,_,id,app